@using DrugstoreManagement.ViewModels.Common
@using DrugstoreManagement.ViewModels.System.Users

@model PagedResult<UserVm>

@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _popup = new Popup();
}
@section Scripts{
    <script>

        const myTimeout = setTimeout(myGreeting, 4000);

        function myGreeting() {
          $('#msgAlert').fadeOut('slow')
        }
    </script>
}
<div class="pagetitle">
      <h1>Quản lý người dùng</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
          <li class="breadcrumb-item">Người dùng</li>
          @*<li class="breadcrumb-item active">Data</li>*@
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
         <div class="card-2">
            <div class="card-body-2" > 
              <h5 class="card-title">Danh sách người dùng</h5>
              <div class="row">
                  <div class="nav-item col-lg-6 col-xs-12" style="padding-bottom: 5px">
                      <a class="btn-ct" asp-area="" asp-controller="User" asp-action="Create">
                        <i class="bi"><img src="https://localhost:5077/assets/Resouse/icons8-add-100.png" width="35" height="35"/></i>
                        <span>Thêm mới</span>
                      </a>
                  </div>
                  <div class="col-lg-6 col-xs-12">      
                      <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-lg-9">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            
                            <div class="col-lg-3">
                                <button type="submit" class="btn-ct">Tìm</button>
                                <button type="button" class="btn-ct" onclick="window.location.href='/User/Index'">Làm mới</button>
                            </div>
                        </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            
            <div class="card-body" style="overflow-x:auto"> 
              <!-- Table with stripped rows -->
              <table class="table"> @* datatable table-hover*@
                <thead>
                    <tr>
                        <th scope="col">
                            Tên đăng nhập
                        </th>
                        <th scope="col">
                            Họ & tên
                        </th>
@*                        <th scope="col">
                            Ngày sinh
                        </th>*@
                        <th scope="col">
                            Mã nhân viên
                        </th>
                        <th scope="col">
                            Email
                        </th>
                        <th scope="col">
                            Số điện thoại
                        </th>
                        @*<th scope="col">
                            Ngày cuối đăng nhập
                        </th>*@
                        <th scope="col">
                            Ngày tạo
                        </th>
                        <th scope="col">
                            Trạng thái
                        </th>
                        <th scope="col" colspan="5" style="text-align:center">Tác vụ</th>
                        @*<th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>*@
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model.Items) {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        @*<td>
                            @{string _Dob = item.Dob.ToString("dd/MM/yyyy");}
                            @Html.DisplayFor(modelItem => _Dob)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @{string _dateCreated = item.DateCreated.ToString("dd/MM/yyyy");}
                            @Html.DisplayFor(modelItem => _dateCreated)
                        </td>
                        @*<td>
                            @{DateTimeOffset? _LockoutEnd = item.LockoutEnd;}
                            @Html.DisplayFor(modelItem => _LockoutEnd)
                        </td>*@
                        <td style="@(item.LockoutEnabled ? "" : "color:red")">
                            @{string _LockoutEnabled = item.LockoutEnabled ? "Hoạt động" : "Khóa";}
                            @Html.DisplayFor(modelItem => _LockoutEnabled)
                        </td>
                        <td>
                            @*@Html.ActionLink("Chi tiết", "Details", new {  id=item.Id  })*@
                           <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "UpdateUser", new {  id=item.Id })
                        </td>
                        <td>
                           
                            @{
                                if(User.Identity.Name != item.UserName && item.UserName.Contains("_"))
                                {
                                    if (@item.LockoutEnabled)
                                    {
                                        <a style="color:red" onclick="openPopup()" href="#" >khóa</a>

                                        _popup = new Popup() {
                                            PopupId = "popup",
                                            Title = "Thông báo",
                                            Description = "Bạn có chắc muốn khóa tài khoản " + @item.UserName + " ?",
                                            ActionName = "LockUser",
                                            RouteId = item.Id,
                                        };
                                        @await Component.InvokeAsync("Popup", _popup);

                                    }
                                    else
                                    {
                                        <a asp-action="UnLockUser" asp-route-id="@item.Id">Mở khóa</a>
                                    }
                                                
                                }
                            }
                            
                            @*@(User.Identity.Name == item.UserName ? "" : @Html.ActionLink(item.LockoutEnabled ? "Khoá" : "Mở Khóa", item.LockoutEnabled ? "LockUser" : "UnLockUser", new {  id=item.Id }))*@
                        </td>
                        <td>
                            @Html.ActionLink("Đặt lại mật khẩu", "ResetPassword", new {  id=item.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Phân quyền", "RoleAssign", new {  id=item.Id })
                        </td>
                    </tr>
                    }
                </tbody>
                
              </table>
             
              <!-- End Table with stripped rows -->
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("Pager", Model)
            </div>
          </div>
        </div>
      </div>
    </section>